<?xml version="1.0" encoding="utf-8"?>
<manifest
	package="org.zakariya.mrdoodle"
	xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

	<application
		android:name=".MrDoodleApplication"
		android:allowBackup="true"
		android:largeHeap="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/MrDoodle">

		<activity
			android:name="org.zakariya.mrdoodle.ui.MainActivity"
			android:label="@string/app_name"
			android:theme="@style/MrDoodle.Home"
			android:launchMode="singleTop">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>

		</activity>

		<activity
			android:name="org.zakariya.mrdoodle.ui.DoodleActivity"
			android:label="@string/app_name"
			android:launchMode="singleTop"
			android:exported="true"
			android:theme="@style/MrDoodle.DoodleActivity"
			android:parentActivityName="org.zakariya.mrdoodle.ui.MainActivity">
		</activity>

		<activity
			android:name="org.zakariya.mrdoodle.ui.AboutActivity"
			android:label="@string/activity_title_about"
			android:launchMode="singleTop"
			android:exported="true"
			android:parentActivityName="org.zakariya.mrdoodle.ui.MainActivity">
		</activity>

		<activity
			android:name="org.zakariya.mrdoodle.ui.SyncSettingsActivity"
			android:label="@string/activity_title_sync"
			android:launchMode="singleTop"
			android:exported="true"
			android:parentActivityName="org.zakariya.mrdoodle.ui.MainActivity">
		</activity>

		<activity
			android:name="org.zakariya.mrdoodle.ui.ModelOverviewActivity"
			android:label="@string/activity_title_model_overview"
			android:launchMode="singleTop"
			android:exported="true">
		</activity>

	</application>

</manifest>
