# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Private/Secret Stuff
server/config/configuration_secret.json
server/dashboard/app/config/google_client_id.js
server/dashboard/dist/app.bundle.js

server/dashboard/app/config/google_client_id.js
