body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #222;
  font-size: 14px; }
  body .appContainer, body .signInScreen {
    display: none; }
  body .loading {
    display: block; }
  body.signedIn .appContainer {
    display: block; }
  body.signedIn .signInScreen {
    display: none; }
  body.signedIn .loading {
    display: none; }
  body.signedOut .appContainer {
    display: none; }
  body.signedOut .signInScreen {
    display: block; }
  body.signedOut .loading {
    display: none; }

.screen {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .screen .message {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
    .screen .message p {
      color: grey;
      margin: 1em; }

.signInScreen .message .button > * {
  margin: 0 auto; }

.toolbar::after {
  clear: both;
  content: "";
  display: table; }
.toolbar .content {
  padding: 0 36px; }
.toolbar h2 {
  float: left;
  line-height: 48px;
  font-weight: bold;
  text-transform: uppercase; }
.toolbar .item {
  float: right;
  height: 48px;
  margin-left: 24px; }
  .toolbar .item:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 2px; }
  .toolbar .item.reload {
    width: 48px;
    background-image: url(../images/reload.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 24px;
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
    cursor: pointer; }
  .toolbar .item.user {
    cursor: pointer;
    padding-left: 12px;
    padding-right: 12px;
    position: relative; }
    .toolbar .item.user::after {
      clear: both;
      content: "";
      display: table; }
    .toolbar .item.user .avatar {
      width: 24px;
      height: 24px;
      border-radius: 24px;
      background-size: contain;
      float: left;
      margin-top: 12px;
      margin-right: 6px; }
    .toolbar .item.user .name {
      float: left;
      height: 24px;
      line-height: 24px;
      margin-top: 12px;
      color: grey; }

.statusbar {
  text-align: left;
  height: 36px; }
  .statusbar .content {
    padding: 0 36px; }
    .statusbar .content > .item {
      display: inline-block;
      height: 36px;
      line-height: 36px;
      margin-right: 1em;
      text-transform: uppercase;
      font-size: 0.8em;
      color: grey; }
      .statusbar .content > .item .value {
        font-weight: bold; }

.appContainer .container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .appContainer .container > .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
  .appContainer .container > .statusbar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%; }
  .appContainer .container > .scrollview {
    position: absolute;
    top: 48px;
    bottom: 36px;
    left: 0;
    width: 100%;
    overflow-y: scroll; }

.users {
  padding: 18px 36px; }
  .users h2 {
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 1em; }
  .users .userListItem {
    margin: 1em 0;
    cursor: pointer; }
    .users .userListItem::after {
      clear: both;
      content: "";
      display: table; }
    .users .userListItem .avatar {
      float: left;
      width: 72px;
      height: 72px;
      border-radius: 36px;
      background-color: grey;
      margin-right: 18px;
      overflow: hidden;
      background-size: cover; }
    .users .userListItem .info {
      float: left;
      -webkit-transform: translateY(36px) translateY(-50%);
      -moz-transform: translateY(36px) translateY(-50%);
      -ms-transform: translateY(36px) translateY(-50%);
      -o-transform: translateY(36px) translateY(-50%);
      transform: translateY(36px) translateY(-50%); }
      .users .userListItem .info > * {
        margin: 0.5em 0; }
    .users .userListItem .id, .users .userListItem .lastAccessDate {
      color: darkgrey;
      text-transform: uppercase; }

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(220, 220, 220, 0.9); }
  .modal .window {
    position: absolute;
    background: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    width: 50%;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
  .modal .content {
    padding: 40px; }
  .modal .close {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
    background: url(../images/close.png) center center no-repeat;
    background-size: 24px; }
  .modal h2 {
    font-size: 36px;
    margin: 0.5em 0; }
  .modal p {
    margin: 1em 0; }
  .modal .buttonRow {
    text-align: right;
    margin-bottom: -20px; }
    .modal .buttonRow::after {
      clear: both;
      content: "";
      display: table; }
    .modal .buttonRow .button {
      cursor: pointer;
      display: inline-block;
      border-radius: 2px;
      line-height: 48px;
      height: 48px;
      padding-left: 12px;
      padding-right: 12px;
      text-transform: uppercase;
      margin-left: 12px; }
      .modal .buttonRow .button.negative {
        background-color: lightgrey;
        color: #222; }
      .modal .buttonRow .button.positive {
        background-color: darkgreen;
        color: white;
        font-weight: bold; }
      .modal .buttonRow .button.destructive {
        background-color: mediumvioletred;
        color: white;
        font-weight: bold; }

.userDetail .userInfo::after {
  clear: both;
  content: "";
  display: table; }
.userDetail .userInfo .avatar {
  float: left;
  width: 72px;
  height: 72px;
  margin-right: 18px;
  position: relative; }
  .userDetail .userInfo .avatar .avatarImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 72px;
    height: 72px;
    border-radius: 36px;
    background: grey;
    margin-right: 18px;
    overflow: hidden;
    background-size: cover; }
  .userDetail .userInfo .avatar .connectedMarker {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 22px;
    height: 22px;
    border-radius: 11px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: forestgreen;
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%); }
    .userDetail .userInfo .avatar .connectedMarker .count {
      display: inline-block;
      color: white;
      font-size: 17.6px;
      line-height: 22px;
      font-weight: bold;
      text-align: center;
      padding: 0 0.5em; }
    .userDetail .userInfo .avatar .connectedMarker.connected {
      display: block; }
    .userDetail .userInfo .avatar .connectedMarker.disconnected {
      display: none; }
.userDetail .userInfo > * {
  margin: 0.5em 0; }
.userDetail .userInfo .email {
  margin-top: 29px; }
.userDetail .userInfo .id, .userDetail .userInfo .lastAccessDate {
  text-transform: uppercase;
  color: darkgray; }

/*# sourceMappingURL=styles.css.map */
