@import "../bourbon/bourbon";

$font-size: 14px;
$avatar-size: 72px;

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	color: #222;
	font-size: $font-size;

	.appContainer, .signInScreen {
		display: none;
	}

	.loading {
		display: block;
	}

	&.signedIn {
		.appContainer {
			display: block;
		}
		.signInScreen {
			display: none;
		}
		.loading {
			display: none;
		}
	}

	&.signedOut {
		.appContainer {
			display: none;
		}
		.signInScreen {
			display: block;
		}
		.loading {
			display: none;
		}
	}
}

.screen {
	background: white;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	.message {
		width: 30%;
		position: absolute;
		top: 50%;
		left: 50%;
		text-align: center;
		@include transform(translateX(-50%) translateY(-50%));

		p {
			color: grey;
			margin: 1em;
		}
	}
}

.appContainer {
}

.signInScreen {
	.message {
		.button > * {
			margin: 0 auto;
		}
	}

}

.errorView {
	margin: 1em;
	padding: 1em 2em;
	background: mediumvioletred;
	color: white;
	text-align: center;
	border-radius: 2pt;
}

.toolbar {
	@include clearfix;

	padding: 36px;

	h2 {
		float: left;
	}

	.item {
		float: right;
		width: 24px;
		height: 24px;

		&.reload {
			background: url(../images/reload.png);
			background-size: contain;
			@include hide-text();
			cursor: pointer;
		}
	}
}

.users {

	padding: 36px;

	h2 {
		font-size: 16px;
		font-weight: normal;
		text-transform: uppercase;
		margin-bottom: 1em;
	}

	.userListItem {
		margin: 1em 0;
		cursor: pointer;
		@include clearfix;

		.avatar {
			float: left;
			width: $avatar-size;
			height: $avatar-size;
			border-radius: $avatar-size/2;
			background-color: grey;
			margin-right: $avatar-size/4;
			overflow: hidden;
			background-size: cover;
		}

		.info {
			float: left;
			@include transform(translateY($avatar-size/2) translateY(-50%));

			> * {
				margin: 0.5em 0;
			}
		}

		.email {

		}

		.id, .lastAccessDate {
			color: darkgrey;
			text-transform: uppercase;
		}

	}
}

.userDetail {

	$inset: 40px;

	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(220, 220, 220, 0.9);

	.window {
		position: absolute;
		top: $inset;
		right: $inset;
		left: $inset;
		background: white;
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
		border-radius: 4px;
		padding: $inset $inset/2;
	}

	.close {
		display: block;
		position: absolute;
		top: 1em;
		left: $inset/2;
		color: darkred;
		text-transform: uppercase;
		cursor: pointer;
	}

	.userInfo {

		@include clearfix;
		padding: 1em 0;

		.avatar {
			float: left;
			width: $avatar-size;
			height: $avatar-size;
			margin-right: $avatar-size/4;
			position: relative;

			.avatarImage {
				position: absolute;
				top: 0;
				left: 0;
				width: $avatar-size;
				height: $avatar-size;
				border-radius: $avatar-size/2;
				background: grey;
				margin-right: $avatar-size/4;
				overflow: hidden;
				background-size: cover;
			}

			.connectedMarker {
				$size: 22px;
				position: absolute;
				right: 0;
				bottom: 0;
				min-width: $size;
				height: $size;
				border-radius: $size/2;
				box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
				background-color: forestgreen;
				@include transform(translateY(50%));

				.count {
					display: inline-block;
					color: white;
					font-size: $size * 0.8;
					line-height: $size;
					font-weight: bold;
					text-align: center;
					padding: 0 0.5em;
				}

				&.connected {
					display: block;
				}

				&.disconnected {
					display: none;
				}
			}
		}

		> * {
			margin: 0.5em 0;
		}

		.email {
			margin-top: $avatar-size/2 - $font-size/2;
		}

		.id, .lastAccessDate {
			text-transform: uppercase;
			color: darkgray;
		}
	}

}
