body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #222;
  font-size: 14px; }

.appContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.errorView {
  margin: 1em;
  padding: 1em 2em;
  background: mediumvioletred;
  color: white;
  text-align: center;
  border-radius: 2pt; }

.users {
  padding: 36px; }
  .users h2 {
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 1em; }
  .users .userListItem {
    margin: 1em 0;
    cursor: pointer; }
    .users .userListItem::after {
      clear: both;
      content: "";
      display: table; }
    .users .userListItem .avatar {
      float: left;
      width: 72px;
      height: 72px;
      border-radius: 36px;
      background-color: grey;
      margin-right: 18px;
      overflow: hidden;
      background-size: cover; }
    .users .userListItem .info {
      float: left;
      -webkit-transform: translateY(36px) translateY(-50%);
      -moz-transform: translateY(36px) translateY(-50%);
      -ms-transform: translateY(36px) translateY(-50%);
      -o-transform: translateY(36px) translateY(-50%);
      transform: translateY(36px) translateY(-50%); }
      .users .userListItem .info > * {
        margin: 0.5em 0; }
    .users .userListItem .id, .users .userListItem .lastAccessDate {
      color: darkgrey;
      text-transform: uppercase; }

.userDetail {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(220, 220, 220, 0.9); }
  .userDetail .window {
    position: absolute;
    top: 40px;
    right: 40px;
    left: 40px;
    background: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 40px 20px; }
  .userDetail .close {
    display: block;
    position: absolute;
    top: 1em;
    left: 20px;
    color: darkred;
    text-transform: uppercase;
    cursor: pointer; }
  .userDetail .userInfo {
    padding: 1em 0; }
    .userDetail .userInfo::after {
      clear: both;
      content: "";
      display: table; }
    .userDetail .userInfo .avatar {
      float: left;
      width: 72px;
      height: 72px;
      margin-right: 18px;
      position: relative; }
      .userDetail .userInfo .avatar .avatarImage {
        position: absolute;
        top: 0;
        left: 0;
        width: 72px;
        height: 72px;
        border-radius: 36px;
        background: grey;
        margin-right: 18px;
        overflow: hidden;
        background-size: cover; }
      .userDetail .userInfo .avatar .connectedMarker {
        position: absolute;
        right: 0;
        bottom: 0;
        min-width: 22px;
        height: 22px;
        border-radius: 11px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        background-color: forestgreen;
        -webkit-transform: translateY(50%);
        -moz-transform: translateY(50%);
        -ms-transform: translateY(50%);
        -o-transform: translateY(50%);
        transform: translateY(50%); }
        .userDetail .userInfo .avatar .connectedMarker .count {
          display: inline-block;
          color: white;
          font-size: 17.6px;
          line-height: 22px;
          font-weight: bold;
          text-align: center;
          padding: 0 0.5em; }
        .userDetail .userInfo .avatar .connectedMarker.connected {
          display: block; }
        .userDetail .userInfo .avatar .connectedMarker.disconnected {
          display: none; }
    .userDetail .userInfo > * {
      margin: 0.5em 0; }
    .userDetail .userInfo .email {
      margin-top: 29px; }
    .userDetail .userInfo .id, .userDetail .userInfo .lastAccessDate {
      text-transform: uppercase;
      color: darkgray; }

/*# sourceMappingURL=styles.css.map */
