@import "bourbon/bourbon";

$font-size: 14px;
$avatar-size: 72px;


body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	color: #222;
	font-size: $font-size;
}

.appContainer {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.errorView {
	margin: 1em;
	padding: 1em 2em;
	background: mediumvioletred;
	color: white;
	text-align: center;
	border-radius: 2pt;
}

.users {

	padding: 36px;

	h2 {
		font-size: 16px;
		font-weight: normal;
		text-transform: uppercase;
		margin-bottom: 1em;
	}

	.userListItem {
		cursor: pointer;
		@include clearfix;

		.avatar {
			float: left;
			width: $avatar-size;
			height: $avatar-size;
			border-radius: $avatar-size/2;
			background: grey;
			margin-right: $avatar-size/4;
		}

		.info {
			float: left;
			@include transform(translateY($avatar-size/2) translateY(-50%));

			> * {
				margin: 0.5em 0;
			}
		}

		.email {

		}

		.id, .lastAccessDate {
			color: darkgrey;
			text-transform: uppercase;
		}

	}
}

.userDetail {

	$inset: 40px;

	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(220,220,220,0.9);

	.window {
		position: absolute;
		top: $inset;
		right: $inset;
		left: $inset;
		background: white;
		box-shadow: 0 4px 4px rgba(0,0,0,0.1);
		border-radius: 4px;
		padding: $inset $inset/2;
	}

	.close {
		display: block;
		position: absolute;
		top: 1em;
		left: $inset/2;
		color: darkred;
		text-transform: uppercase;
		cursor: pointer;
	}

	.userInfo {


		@include clearfix;
		padding: 1em 0;

		.avatar {
			float: left;
			width: $avatar-size;
			height: $avatar-size;
			border-radius: $avatar-size/2;
			background: grey;
			margin-right: $avatar-size/4;
		}

		> * {
			margin: 0.5em 0; 
		}

		.email {
			margin-top: $avatar-size/2 - $font-size/2;
		}

		.id, .lastAccessDate {
			text-transform: uppercase;
			color: darkgray;
		}
	}

}